.container {
  width: 100vw;
  height: 100vh;
  background-color: #e9ebee;
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100vw;
  height: 9vh;
  background-color: rgb(255, 255, 255);
}
.body {
  height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navItems {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 48vw;
}
.navItems li {
  margin-right: 5px;
}
.field {
  width: 180px;
  padding: 10px 15px;
  border-radius: 5px;
  border-width: 0.1px;
  border-color: rgba(170, 170, 170, 0.3);
}
.primaryButton {
  background-color: #1877f2;
  color: #fff;
  padding: 10px 15px;
  border: 0;
  width: 80px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  border-radius: 5px;
  margin-left: 3px;
  cursor: pointer;
}
.forgotPasswordLink {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #216fdb;
  text-decoration: none;
  cursor: pointer;
}
.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 37vw;
  padding: 10px 15px;
  margin-bottom: 100px;
  border-radius: 10px;

  box-shadow: 1px 0px 7px -3px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: 1px 0px 7px -3px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 1px 0px 7px -3px rgba(0, 0, 0, 0.85);
}
.cardHeader {
  display: flex;
  justify-content: flex-start;
  width: 37vw;
  padding: 10px 15px;
}
.cardHeader h3 {
  font-size: 20px;
  line-height: 24px;
  color: #162643;
  font-weight: 500;
}
.hr {
  width: 37vw;
  opacity: 0.3;
}
.cardBody {
  padding: 10px 15px;
  margin-bottom: 10px;
}
.cardBody p {
  font-size: 15px;
  line-height: 20px;
  color: #1c1e21;
  width: 37vw;
  padding: 15px;
}
.cardBody input {
  width: 34vw;
  padding: 15px 10px;
  border-width: 0.1px;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-left: 15px;
}
.cardFooter {
  display: flex;
  justify-content: flex-end;
  width: 36.3vw;
  padding: 10px;
  margin-top: 10px;
}
.cardFooter input {
  margin-right: 10px;
  padding: 8px 20px;
  border-radius: 5px;
  border-width: 0;
  cursor: pointer;
}
.searchButton {
  background-color: #216fdb;
  color: #fff;
  font-weight: 400;
}
